@import url('https://fonts.googleapis.com/css?family=Lobster');

:root {
  --orange: #DC7647;
  --brown: #55433B;
  --white: #F3F3F3;
  --green: #50A34F;
  --darkgreen: #106F1E;
  --blue: #3986eb;
  --tan: #c0c0c0;
  --bg: #f1f1f1;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

body {
  font-family: 'Lobster';
  font-weight: 300;
  background-color: var(--bg);
}

.card-header,
.friends {
  font-family: 'Lobster';
}